@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../fonts/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	padding-bottom: 100px;
}

.navbar,
.navbar-default {
	background-image: linear-gradient(120deg, #115294, #117a94);
	padding: 16px 0;
}

.navbar,
.navbar-default,
.navbar-header{
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	text-transform: uppercase;
	border-radius: 0;
	margin-bottom: 0;
	border: none;

}

.logo {
	max-width: 40px;
	float: left;
	margin: 5px 2px 0 0;
}

.alta-logo {
	max-width: 80px;
	float: left;
	margin: 4px 2px 0 0;
}

.navbar-default .navbar-brand {
	vertical-align: middle;
	z-index: 10;
	display: inline;
	font-size: 1.6em;
	margin-top: 5px;
	color: #fff;
}

.navbar-default .navbar-nav>.open>a:hover,
ul.dropdown-menu  {
	background-color: #fff;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
	color: #7FDBFF; /*baby blue*/
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
	color: #555;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
	color: #7FDBFF; /*baby blue*/
}

 .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: rgb(10, 114, 181);  /*dark blue dropdown text color*/
}

.navbar-default .navbar-toggle {
    color: red;
		border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #f8f8f8;
}

.navbar-default .navbar-nav>li>a {
    color: #f8f8f8;
}

.navbar-nav .open .dropdown-menu {
	background-color: #fff; /*background color white for mobile view dropdown*/
}

.navbar-nav .open .dropdown-menu>li:hover {
	background-color: #f8f8f8;
}
.navbar-default .navbar-collapse {
	border-color: transparent;
}

/* Carousel base class */
.carousel {
  margin-bottom: 20px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 580px;
  background-color:#555;
}
.carousel img {
  position: absolute;
  top: -20px;
  left: 0px;
  min-height: 580px;
  width: 100%;
}

.carousel-caption h3 {
	font-size: 2.8em;
}

.thumbs {
	margin: 0 auto;
}

.thumbnail {
	text-align: center;
	min-height: 260px;
	background-color: #eee;
}

.thumb-icons {
	font-size: 3em;
	padding-top: 10px;
}

.thumbnail .caption a  {
	background-color: #1ac572;
	border-color: #1ac572;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
}

/*.caption .btn-primary {
	background-color: #f0ad4e;
	border-color: #f0ad4e;
}*/

.index-jumbotron {
	margin: 16px;
	border-radius: 4px;
	padding-top: 20px;
}

.index-jumbotron h2 {
	padding-left: 20px;
	padding-bottom: 10px;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 1.8em;
	color: rgb(10, 114, 181);
	font-weight: 600;
}

.media {
	padding-left: 20px;
}

.media .media-object {
	border: 2px solid white;
}

.media .media-object:hover {
	border: 2px solid #286090;

}

.navbar-fixed-bottom .container {
	width: 100%;
	margin-left: 0;
	display: block;
	background-color: #eee;
}

.icons {
	padding: 5px 0;
	text-align: center;
}

.icons a {
	text-decoration: none;
	padding-right: 4px;
}


.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

#twitter, 
#facebook,
#instagram,
#linkedin,
#youtube {
	font-size: 2.6em;
	color: #aaa;
	cursor: pointer;
}

#twitter:hover {
	color: #00aced;
}

#facebook:hover {
	color: #3b5998;
}

#instagram:hover {
	color: #517fa4;
}

#linkedin:hover {
	color: #007bb6;
}

#youtube:hover {
	color: #bb0000;
}

.sitemap {
	background-color: #aaa;
	width: 100%;
	margin: 40px 0 0 0;
	padding: 20px 40px 100px 40px;
	position: absolute;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	
}

.sitemap h5 {
	text-transform: uppercase;
	display: block;
	padding-top: 10px;
	color: #7FDBFF;
	font-size: 14px;
}

.sitemap a {
	display: block;
	color: #fff;
	font-size: 12px;
}

/*************************************************************************************************************************************************
PRODUCTS - PUBLIC SAFETY
*************************************************************************************************************************************************/

.public-safety-jumbotron {
	text-align: center;
	padding: 16px 0;
}
.public-safety-jumbotron h3 {
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	text-transform: uppercase;
	font-size: 1.8em;
	font-weight: 600;
	color: white;
	margin:0;
}

.tactical-logo {
	max-width: 70px;
	margin-bottom: -14px;
}

.tactical-logo-alta {
	max-width: 120px;
	margin-bottom: -6px;
}

#public-safety-tagline {
	font-size: 1.2em;
	text-align: center;
	color: rgb(10, 114, 181);
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	margin-bottom: 30px;
}

#public-safety-bullets {
	margin-top: 40px;
}

.public-safety-bullet-title{
	text-align: center;
	margin-top: 40px;
	color: rgb(10, 114, 181);
}

.public-safety-case-study-title  {
	text-align: center;
	margin-top: 60px;
	color: rgb(10, 114, 181);
}

.public-safety-case-study p {
	text-align: justify;
	font-size: 1em;
}

/*************************************************************************************************************************************************
CONTACT
*************************************************************************************************************************************************/

.contact-jumbotron {
	text-align: center;
	padding: 30px 0;
}
.contact-jumbotron h3 {
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	text-transform: uppercase;
	font-size: 1.8em;
	font-weight: 600;
	color: white;
	margin: 10px 0 0 0;
}

.contact-jumbotron h4 {
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: 600;
	color: white;
	margin: 10px 0 0 0;
	display: inline;
}

/*.contact-logo {
	max-width: 70px;
	margin-top: -25px;
}*/

.contact-logo-alta {
	max-width: 120px;
	margin-top: -25px;
	/*margin-left: -12px;*/
}
.contact {
	text-align: center;
	margin-top: 16px;
}
.contact h3{
	color: rgb(10, 114, 181);
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
	text-transform: uppercase;
	font-size: 1.3em;

}
/*************************************************************************************************************************************************
RESPONSIVE STUFF
*************************************************************************************************************************************************/

@media screen and (max-width: 960px) {
	.carousel .item {
		height: 500px;
	}
}

@media screen and (max-width: 768px) {
	.logo {
		max-width: 50px;
		margin:0 0 0 12px;
	}

	.carousel img {
		min-height: 0;
	}

	.carousel .item {
		height: 400px;
	}
}

@media screen and (max-width: 640px) {
	.carousel .item {
		height: 300px;
	}

	.thumbs {
		margin-top: -40px;
	}

}

@media screen and (max-width: 540px) {

	.carousel .item {
		height: 220px;
	}

	.thumbs {
		margin-top: -60px;
	}

	.caption .btn {
		font-size: 12px;
		padding: 4px 10px;
	}

	.caption h4 {
		font-size: 16px;
	}

	.thumb-icons {
		font-size: 2em;
	}

	.jumbotron {
		padding: 3px 10px 10px 10px;
	}

	.jumbotron h2 {
		font-size: 20px;
	}

	.media-heading {
		font-size: 16px;
	}

	.media-body {
		font-size: 12px;
		text-align: justify;
	}

	.media {
		padding-left: 0px;
	}


	/*PRODUCTS --> PUBLIC SAFETY*/

	.public-safety-bullet-title {
		margin-bottom: 30px;
	}

	.public-safety-bullet-title h3 {
		font-size: 1.4em;
	}

	.public-safety-case-study-title {
		margin-bottom: 30px;
		margin-top: 30px;
	}

	.public-safety-case-study-title h3 {
		font-size: 1.4em;
	}

	#public-safety-bullets h5,
	#public-safety-bullets p {
		text-align: center;
	}
}