
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="icons">
      <a href="#" class="flaticon flaticon-twitter"></a>
      <a href="#" class="flaticon-facebook2 flaticon"></a>
      <a href="#" class="flaticon flaticon-instagram19"></a>
      <a href="#" class="flaticon flaticon-linkedin"></a>
      <a href="#" class="flaticon flaticon-video"></a>
    </div>
    <div class="sec-links">
      <a href="about_alta.html">About</a>
      <a href="#">Support</a>
      <a href="#">Contact</a>
    </div>
  </div>
</nav>