
<nav class="navbar-fixed-bottom">
  <div class="container">
    <div class="icons">
      <a href="#"><span class='symbol hvr-float' id="twitter">&#xe286;</span></a>
      <a href="#"><span class='symbol hvr-float' id="facebook">&#xe227;</span></a>
      <a href="#"><span class='symbol hvr-float' id="instagram">&#xe300;</span></a>
      <a href="#"><span class='symbol hvr-float' id="linkedin">&#xe252;</span></a>
      <a href="#"><span class='symbol hvr-float' id="google">&#xe239;</span></a>
      <a href="#"><span class='symbol hvr-float' id="youtube">&#xe299;</span></a>
      <a href="#" class="flaticon flaticon-video"></a>
    </div>
    <!-- <div class="sec-links">
      <a href="about_alta.html">About</a>
      <a href="#">Support</a>
      <a href="#">Contact</a>
    </div> -->
  </div>
</nav>
</div>

<div class="sitemap hidden-sm hidden-xs">
  <div class="col-md-3">
    <h5>About</h5>
      <a href="about_alta.html">About Alta</a>
      <a href="about_smartballoon.html">Smartballoon Technology</a>
      <a href="about_investor_relations.html">Investor Relations</a>
      <a href="about_team.html">Team</a>
      <a href="http://blog.altametry.com">Newsroom</a>
      <a href="about_careers.html">Careers</a>
    </div>
  <div class="col-md-3">
    <h5>Products</h5>
      <a href="products_agriculture.html">Agriculture</a>
      <a href="products_maritime.html">Maritime</a>
      <a href="products_photography.html">Photography</a>
      <a href="products_public_safety.html">Public Safety</a>
      <a href="products_sports.html">Sports</a>
  </div>
  
  <div class="col-md-3">
    <h5>Support</h5>
      <a href="support_product.html">Product Documentation</a>
      <a href="support_tech.html">Tech Support</a>
  </div>
  <div class="col-md-3">
    <h5>Contact</h5>
      <a href="mailto:info@altapic.com">Email</a>
      <a href="#">Twitter</a>
      <a href="#">Facebook</a>
      <a href="#">Instagram</a>
      <a href="#">LinkedIn</a>
  </div>
</div>



